.datLichContainer {

    .search-icon,
    .muc-huong {
        text-align: center;
        background: rgba(217, 217, 217, 1);
        height: 25px;
        line-height: 26px;
        margin: 0 !important;
        width: 28px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        top: 0px;
        right: 0px;
        border: 1px solid #a9a9a9 !important;
    }

    .text-info {
        color: #1A5E83 !important;
    }

    .h-ds-lich-hen-table {
        height: calc(100% - 298px) !important;
    }



    
}