@import "../styles/variable";

.table-of-profiles {
  color: #0d47a1;
  font-weight: bold;
  font-size: 23px;
  list-style: 32px;
  padding: 0 16px 0 32px;
  margin-top: 16px;
}

.item-of-profile {
  padding-left: 16px;
  line-height: 25px;
  font-weight: 700;
  font-size: 16px;
  color: #595959;
  position: relative;
}
.item-of-profile.active {
  color: #519DD9;
}
.item-of-profile.active::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 2px;
  height: 18px;
  background-color: #519DD9;
}
.item-of-table:active {
  border-left: 2px solid #519dd9;
}

.title-of-profiles {
  color: #0d47a1;
  font-size: 23px;
  line-height: 32px;
  font-weight: 700;
}

.block-content {
  margin-top: 14px;
  margin-left: 14px;
}
.content {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin-top: 28px;
  &-custom{
    margin-top: 48px;
  }
}

.item-content {
  display: flex;
  width: 46%;
  padding-right: 42px;
  padding-left: 35px;
  margin-bottom: 35px;
}

.item-content span {
  flex: 3;
  margin-right: 10px;
}

.item-content .input {
  flex: 7;
}
.text-add-field {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 145%;
  color: #2b6dba;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.open-field {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.rich-list {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.center {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.checkbox-content {
  border: 1px solid #519dd9;
}
.input {
  max-width: 260px;
}
.text-wrapper {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
}
.main__info {
  height: 180px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  &--image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    padding: 0 !important;
  }
}
.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout{
 display: grid;
 grid-template-columns: 20% 80%;
 gap:20px;
}