:root {
  --primary-color: #68A3CE !important;
}

.button__icon {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 4px;
  width: 30px;
  height: 30px;
}

.button__icon:hover {
  background-color: #e4e4e4;
}
.text-pri{
  color: #68A3CE !important;
}
.bg-pri {
  background-color: #68A3CE !important;
  color: white;
&:hover{
  background-color: #5ca5da !important;
}
}
.w-30px{
  width: 30px !important;
}
.background__modal {
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.2);
}

.loading-full-screen {
  z-index: 10000000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.loading-table {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.spinner-lg {
  width: 40px;
  height: 40px;
}
